@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	img {
		@apply inline-block;
	}
}

.card {
    border-radius: 0.25rem
}

.btn {
    border-radius: 0.10rem
}

.rounded-badge {
    border-radius: 9999px;
}

.prose {
    max-width: none;
}
